*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#backimg1{
    background-image: url(./Background\ Wallpaper1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signin {
    background-color: rgba(146, 238, 224, 0.6);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 80%;
  }
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type='email'],
  input[type='password'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  button[type='submit'] {
    padding: 10px 20px;
    background-color: #0328e3;
    color: #fff;
    border: none;
    border-radius: 120px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.1s ease;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  
  #signup{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  h3 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0328e3;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  